@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {
    background-image: url('https://i.imgur.com/EOwNIBg.png');
    margin-top: 62px;
    padding: 0 10px;
}

.wrapper {
    /* max-width: 500px;
    width: 100%; */
    background: #fff;
    margin: 80px auto;
    padding: 30px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
    border: 2.5px solid #a4cfbc;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

.wrapper .title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #ffce59;
    text-align: center;
    /* background: #fff; */
}
.wrapper .form {
    width: 100%;
    /* background: #fff; */
}
.wrapper .input_field_check_box {
    /* text-align: center; */
    margin-top: 20px;
    margin-bottom: 15px;
    display: flex;
    /* margin-left: 50px; */
    align-items: center;
}
.wrapper .input_field_check_box label{
    margin-top: 7px;
    width: 200px;
    color: #757575;
    margin-left: 20px;
    font-size: 14.2px;
}
.wrapper .input_field {
    /* background-color: #fff; */
    margin-top: 20px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.wrapper .input_field label {
    width: 200px;
    color: #757575;
    margin-right: 10px;
    font-size: 14.2px;
}

.wrapper .input_field .input {
    width: 100%;
    outline: none;
    border: 1px solid #d5dbd9;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
    background-color: #fff;
}


.wrapper .form .input_field:last-child {
    display: flex;
    justify-content: flex-end;
}
.wrapper .btn {
    margin-left: 10px;
  }

.wrapper .input_field .btn{
    width: 100px;
    padding: 8px 10px;
    font-size: 15px;
    border: 0;
    background-color: #a4cfbc;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
    margin: 0 auto;
    display: block;
}
.wrapper .input_field:last-child{
    margin-bottom:0;
    display: flex;
}
.wrapper .input_field:last-child .btn{
    margin-right: 0px;
}
.wrapper .input_field .btn:hover{
    background: #ffd658;
}
#result{
    /* background: #fff; */
    margin-top: 30px;
    width: 200px;
    color: #757575;
    margin-right: 10px;
    font-size: 14.2px;
}
