
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-image: url('https://i.imgur.com/EOwNIBg.png');
    margin: 40px auto;
    padding: 0 10px;
}
.wrapper{
    max-width: 500px;
    width: 100%;
    background: #fff;
    margin: 40px auto;
    padding: 30px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
    border: 5px solid #4b791c;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.wrapper .title{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #e6c23e;
    text-align: center;
}
.wrapper .form{
    width: 100%;
}
.wrapper .form .input_field{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}
.wrapper .form .input_field label{
    width: 200px;
    color: 757575;
    margin-right: 10px;
    font-size: 14px;
}
.wrapper .form .input_field .input{
    width: 100%;
    outline: none;
    border: 1px solid #d5dbd9;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
}
.wrapper .form .input_field .input:focus,
.wrapper .form .input_field .textarea:focus{
    border: 1px solid #e6c23e;
}
.wrapper .form .input_field .p{
    font-size: 14px;
    color: #757575;

}
.wrapper .form .input_field.terms p{
    font-size: 14px;
    color: #757575;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}
.wrapper .form .input_field .check{
    width: 15px;
    height: 15px;
    position: relative;
    display: block;
    cursor: pointer;
}
.wrapper .form .input_field .check input[type="checkbox"]{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.wrapper .form .input_field .check .checkmark{
    width: 15px;
    height: 15px;
    border: 1px solid #e6c23e;
    display: block;
    position: relative;
}
.wrapper .form .input_field .check .checkmark:before{
    content: "";
    position: absolute;
    top: 1px;
    left: 2px;
    width: 5px;
    height: 2px;
    border: 2px solid;
    border-color: transparent transparent #fff #fff;
    transform: rotate(-45deg);
    display: none;
}
.wrapper .form .input_field .check input[type="checkbox"]:checked ~ .checkmark{
    background: #e6c23e;
}

.wrapper .form .input_field .check input[type="checkbox"]:checked ~ .checkmark:before{
    display: block;
}
.wrapper .form .input_field:last-child {
    display: flex;
    justify-content: flex-end;
  }

.wrapper .form .btn {
    margin-left: 10px;
  }

.wrapper .form .input_field .btn{
    width: 100px;
    padding: 8px 10px;
    font-size: 15px;
    border: 0;
    background-color: #4b791c;
    color: #e6c23e;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
    margin: 0 auto;
    display: block;
}
.wrapper .form .input_field:last-child{
    margin-bottom:0;
    display: flex;
}
.wrapper .form .input_field:last-child .btn{
    margin-left:auto;
}
.wrapper .form .input_field .btn:hover{
    background: #ffd658;
}

