@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
    margin-top: 62px;
    color: #757575;
    margin-bottom: 25px;
    background-image: url('https://i.imgur.com/EOwNIBg.png');
}
.main{
  margin: 40px auto;
}
.wrapper{
    /* margin-top: 500px;
    max-width: 500px; */
    margin: 40px auto;
    color: #757575;
    background: #fff;
    margin: 100px auto;
    padding: 30px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
    border: 2.5px solid #a4cfbc;
}
.buttons{
  margin: 40px auto;
}

.buttons.input_field {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.wrapper{
  /* margin-top: 40px; */
  /* margin-bottom: 20px; */
  color: #757575;
  background: #fff;
  margin: 10px auto;
  padding: 30px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
  border: 2.5px solid #a4cfbc;
}
.title{
  margin-top: 20px;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #ffce59;
  text-align: center;
}
.progress-bar {
  margin-top: 20px;
  background-color: #a4cfbc;
  position: relative;
  width: auto;
  height: 40px;
  border-radius: 1px;
  border: #57817f;
  margin-bottom: 20px;
}

.progress-bar-fill {
  height: 100%;
  background: #57817f;
  transition: width 0.5s;
}

.progress-bar-value {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.name{
  margin-top: 20px;
  margin-bottom: 5px;
  color: #ffce59;
  font-weight: 700
}
.name, .calories, .consumed {
  display: inline-block;
}
.calories{
  font-size: 15px;
  color: #757575;
  font-weight: 300
}

.button{
  margin-bottom: 30px;
}
#show{
  color: #fff;
  background-color: #a4cfbc;
  border: none;
}
#choose{
  color: #fff;
  background-color: #57817f;
  border: none;
}
#change{
  /* font-weight: 700; */
  color: #fff;
  background-color: #a4cfbc;
  border: none;
}
.btn-danger{
  color: #fff;
  background-color: #ffce59;
  border: none;
}
.btn-sm.hover{
  color: #fff;
  background-color: #ffce59;
  border: none;
}

#daily_distribution{
  font-weight: 700;
  background-color: #57817f;
  color: #fff;
  margin-top: 30px;

}
#all_meal {
  font-weight: 700;
  margin-top: 30px;
  background-color: #57817f;
  color: #fff;

}
#daily_distribution:hover {
  font-weight: 700;
  color: #757575;
  background-color: #a4cfbc;
}
#all_meal:hover {
  font-weight: 700;
  margin-top: 30px;
  color: #757575;
  background-color: #a4cfbc;
}
