body {
    background: #f5eee7;
    color: #333333;
    margin-top: 5rem;
  }

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.row {
  display: flex;
  justify-content: center;
}

button {
  background-color: #e6c23e;
  color: #e6c23e;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
}

button:hover {
  background-color: #ffdf91;
  cursor: pointer;
/* верхня панель */
}
.bg-steel {
  background-color: #4b791c;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #e6c23e;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #e6c23e;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #e6c23e;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}