@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {
    background-image: url('https://i.imgur.com/EOwNIBg.png');
    margin-top: 62px;
    padding: 0 10px;
    /* position: center; */

}


.wrapper {
    margin: 40px auto;
    width: 100%;
    /* margin: 40px auto; */
    color: #757575;
    background: #fff;
    /* margin: 100px auto; */
    padding: 30px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
    border: 2.5px solid #a4cfbc;
}

.wrapper .title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #ffce59;
    text-align: center;
}
.category-buttons{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.category-btn {
    color: #fff;
    background-color: #57817f;
    padding: 5px 10px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    margin: 3px;
}
.form-check {
    margin-top: 40px;
    color: #57817f;
}
.wrapper .btn {
    margin: 0 auto;
    background-color: #a4cfbc;
    color: #fff;
    margin-bottom: 15px;
    border: 0;
}

.wrapper .input_field:last-child{
    margin-bottom:0;
    display: flex;
}
.wrapper .input_field:last-child .btn{
    margin-right: 0px;
}
.wrapper .input_field .btn:hover{
    background: #ffd658;
}
.alert {
    text-align: center;
    font-size: 16px;
}