@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {
    margin-top: 62px;
    padding: 0 10px;
    background-image: url('https://i.imgur.com/EOwNIBg.png');
}

.wrapper {
    /* max-width: 1000px; */
    background: #fff;
    margin: 100px auto;
    padding: 30px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
    border: 2.5px solid #a4cfbc;
}

.wrapper .title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #ffce59;
    text-align: center;
}
.wrapper .form {
    width: 100%;
}

/* .wrapper .input_field {
    margin-top: 50px;
    margin-bottom: 50px;
    color: #ffce59; */
    /* font-weight: 700; */

.name{
    margin-top: 50px;
    margin-bottom: 25px;
    color: #ffce59;
    font-weight: 700
}
/* .category{
    margin-bottom: 50px;
} */
.info {
    align-items: center;
    margin-bottom: 15px;
    color: #57817f;
    /* margin-left: 50px; */
}

.elem{
    /* margin-top: 120px; */
    margin-left: 100px;
    margin-right: auto;
    color: #a4cfbc;
    margin-bottom: 20px;
    /* text-align: center; */
}
.alert {
    text-align: center;
}