@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    margin-top: 62px;
    padding: 0 10px;
    background-image: url('https://i.imgur.com/EOwNIBg.png');
}
.wrapper{
    background: #fff;
    margin: 100px auto;
    padding: 30px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
    border: 2.5px solid #a4cfbc;
}

.border-top{
    margin-top: 50px;
    margin-bottom: 0px;
    /* text-align: center; */
}
.wrapper .title{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #ffce59;
    text-align: center;
}
.wrapper .form{
    width: 100%;
}
.wrapper .form .input_field{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}
.wrapper .form .input_field label{
    width: 200px;
    color: #757575;
    margin-right: 10px;
    font-size: 14.2px;
}
.wrapper .form .input_field .input{
    width: 100%;
    outline: none;
    border: 1px solid #d5dbd9;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
}
.wrapper .form .input_field .input:focus,
.wrapper .form .input_field .textarea:focus{
    border: 1px solid #ffce59;
}
.wrapper .form .input_field .p{
    font-size: 14px;
    color: #757575;

}
.wrapper .form .input_field.terms p{
    font-size: 14px;
    color: #757575;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

.wrapper .form-group .btn{
    width: 100px;
    padding: 8px 10px;
    font-size: 15px;
    border: 0;
    background-color: #a4cfbc;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
    margin: 0 auto;
    display: block;
    margin-right: 10px;
}
.wrapper .form-group:last-child{
    margin-bottom:0;
    display: flex;
}
.wrapper .form-group:last-child .btn{
    margin-right:0px;
}
.wrapper .form-group .btn:hover{
    background: #ffce59;
}
