@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {
    margin-top: 62px;
    background: #fff9f5;
    padding: 0 10px;
}

.wrapper {
    /* max-width: 1000px;
    width: 100%; */
    background: #fff;
    margin: 40px auto;
    padding: 30px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
    border: 2.5px solid #a4cfbc;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

.wrapper .title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #ffce59;
    text-align: center;
}
.wrapper .form {
    width: 100%;
}

.wrapper .input_field {
    margin-top: 50px;
    margin-bottom: 50px;
    color: #ffce59;
}

.info {
    align-items: center;
    margin-bottom: 15px;
    color: #57817f;
}

.elem{
    margin-left: 50px;
    margin-right: auto;
    color: #a4cfbc;
    /* text-align: center; */
}

.wrapper .btn {
    margin-left: 10px;
}

.wrapper .input_field .btn{
    width: 100px;
    padding: 8px 10px;
    font-size: 15px;
    border: 0;
    background-color: #a4cfbc;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
    margin: 0 auto;
    display: block;
}

.wrapper .input_field:last-child{
    margin-bottom:0;
    display: flex;
}
.wrapper .input_field:last-child .btn{
    margin-right: 0px;
}
.wrapper .input_field .btn:hover{
    background: #ffd658;
}