{% extends "layout.html" %}
{% block content %}
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='calories.css') }}" rel="stylesheet">
  </head>
  <body>
    <div class="wrapper">
      <div class = "title">
        Calculator
      </div>
      <div class="form">
      <form method="POST">
        <div class="input_field">
          <label for="calories">Calories</label>
          <input type="text" class="input">
        </div>
        <div class="input_field">
          <label for="proteins">Proteins</label>
          <input type="text" class="input">
        </div>
        <div class="input_field">
          <label for="Carbs">Carbs</label>
          <input type="text" class="input">
        </div>
        <div class="input_field">
          <label for="Fats">Fats</label>
          <input type="text" class="input">
        </div>
        <div class="input_field">
          <input type = "submit" value="Continue" class="btn">
        </div>
      </div>
    </form>
    </div>
  </body>
{% endblock %}








