{% extends "layout.html" %}
{% block content %}
    <link href="{{ url_for('static', filename='home.css') }}" rel="stylesheet">
    <div class = wrapper>
        <div class="container">
            <div class="text">
                <p>
                    A nutritious, well-balanced diet – along with physical activity and refraining from smoking – is the foundation of good health. Healthy eating includes consuming high-quality proteins, carbohydrates, heart-healthy fats, vitamins, minerals and water in the foods you take in while minimizing processed foods, saturated fats and alcohol. Eating in this manner helps you maintain your body’s everyday functions, promotes optimal body weight and can assist in disease prevention.
                </p>
                <p>
                    “Take care of your body. It’s the only place you have to live.” – Jim Rohn
                </p>
                <div class="third-paragraph">
                    <p>
                    <br>• You are addicted to food?
                    <br>• It’s difficult to resist something tasty, but not healthy?
                    <br>• Noticed a hunger just a couple of hours after eating?
                    </p>
                </div>
                <p>
                    That's the reason why our team created this project so that you could remain healthy and your life would become less complicated.
                </p>
                <div class="alert alert-warning">
                    <strong>Warning, this web-application was not created by dietologists, please consult with your doctor!</strong>
                  </div>
                <p>
                    We would be glad to help you with choosing balanced and healthy meal in Trapezna, UCU, don't waste your time and<a class="ml-2 btn-register" href="{{ url_for('register') }}">register</a> or<a class="ml-2 btn-register" href="{{ url_for('login') }}">login</a> or just
                    use our<a class="ml-2 btn-register" href="{{ url_for('calculator') }}">calculator</a>
                </p>
            </div>
        </div>
    </div>
{% endblock content %}
