{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <legend class="border-bottom mb-4">Test Form</legend>
        {{ form.search() }} <br>
        {% if form.meals.errors %}
            <div class="invalid-feedback">
                {% for error in form.meals.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% endif %}
        {% for category in form.meals %}
            {{ category.choices.label }}
                <fieldset class="form-group">
                    <div class="form-check">
                        {% for choice in category %}
                            {{ choice() }}
                        {% endfor %}
                    </div>
                </fieldset>
        {% endfor %}
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock content %}