{% extends "layout.html" %}
{% block content %}
    <link href="{{ url_for('static', filename='menu.css') }}" rel="stylesheet">
    <div class="wrapper">
        <div class = "title">
            Menu
        </div>
        <div class = "input_field">
        {% for category in meals %}
            {{ category.title() }}
            <fieldset class="form-group">
                {% for meal in meals[category] %}
                <div class = "info">
                    {{ meal }}:<br>
                    <div class = "elem">
                        Calories: {{meals[category][meal][0]}}<br>
                        Proteins: {{meals[category][meal][1]}}<br>
                        Carbohydrates: {{meals[category][meal][2]}}<br>
                        Fats: {{meals[category][meal][3]}}<br>
                    </div>
                {% endfor %}
                </div>
            </fieldset>
        {% endfor %}
        </div>
    </div>
{% endblock content %}