{% extends "layout.html" %}
{% block content %}
<link href="{{ url_for('static', filename='personal_info.css') }}" rel="stylesheet">
<div class="wrapper">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form">
            <div class = "title">
                Possible Choices
            </div>
                <div class="input_field">
                    {{ form.meal_var.label(class="form-control-label") }}
                    {% if form.meal_var.errors %}
                        {{ form.meal_var(class="form-control form-control-xxl is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.meal_var.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.meal_var(class="form-control form-control-xxl") }}
                    {% endif %}
                </div>
        </fieldset>
        <div class="input_field">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock content %}
